
.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct_info{
    padding: 20px;
}
.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct_title{
    font-size: 17px;
    font-weight: 800;
}