
.nav-back{
    background-color: #5b6877;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
   
    
}
.footer-nav{
    background-color: #232F3E;
    text-align: center;
    color: white;
    margin-top: 0%;
    margin: 10px 10px;
}